body {
	color: white;
	background: black;
}

.box {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; /* create rows*/
}

a, a:hover {
	color: white;
	text-decoration: none !important;
}

.fa {
	padding: 10px;
}